<?xml version="1.0" encoding="utf-8"?>
<widget
  id="me.sdrm.qendil"
  version="0.0.1-alpha"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
  <name>Qendil</name>
  <description>A game</description>
  <author email="hi@sdrm.me" href="https://sdrm.me">SAID DERMOUMI</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <hook src="cordova/hooks/serve.js" type="after_prepare" />

  <platform name="electron">
    <preference
      name="ElectronSettingsFilePath"
      value="cordova/electron/settings.json"
    />
  </platform>
</widget>
