<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src 'self' data: gap:
          https://ssl.gstatic.com
          https://static.cloudflareinsights.com;
        connect-src 'self' ws:
          https://cloudflareinsights.com;
        style-src 'self' 'unsafe-inline';
        media-src *
      "
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="480" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="cleartype" content="off" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="<%= theme_color %>"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="<%= theme_color %>"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="color-scheme" content="light dark" />

    <meta name="description" content="<%= description %>" />
    <meta name="version" content="<%= version %>" />

    <title><%= name %></title>

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/mask-icon.svg" color="#282425" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />

    <script type="module" src="./main.tsx"></script>

    <style>
      @import url("./critical.css");
    </style>
  </head>
  <body>
    <div id="root"></div>
    <noscript>Please enable JavaScript to play this game.</noscript>
  </body>
</html>
