# Node and pnpm
node_modules/
.pnpm-debug.log

# Local env files and other local files
*.local
.sdkmanrc

# Build artifacts
client/platforms/
client/plugins/
client/dist/
client/www/
ts-out/
.eslintcache

**/coverage/
