# Node and pnpm
node_modules/
pnpm-lock.yaml

# Build artifacts
packages/client/platforms/
packages/client/plugins/
packages/client/dist/
packages/client/www/
ts-out/

# Testing artifacts
**/coverage/
