.app {
  position: absolute;
  inset: 0;
  overflow: auto;
}

.updatePrompt {
  background: #fc0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.world {
  background: #000;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.debug {
  color: red;
}
