.joystickContainer {
  border-radius: 9999px;
  border: 1px solid #fc0;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  pointer-events: none;

  &:global(.north) .joystick {
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 0;
    border-top: 5px solid #f00;
  }

  &:global(.south) .joystick {
    transform: translate(-50%, -50%) rotate(180deg);
    border-radius: 0;
    border-top: 5px solid #f00;
  }

  &:global(.west) {
    & .joystick {
      transform: translate(-50%, -50%) rotate(-90deg);
      border-radius: 0;
      border-top: 5px solid #f00;
    }

    &:global(.north) .joystick {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:global(.south) .joystick {
      transform: translate(-50%, -50%) rotate(-135deg);
    }
  }

  &:global(.east) {
    & .joystick {
      transform: translate(-50%, -50%) rotate(90deg);
      border-radius: 0;
      border-top: 5px solid #f00;
    }

    &:global(.north) .joystick {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:global(.south) .joystick {
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
}

.deadZone {
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.joystick {
  border-radius: 9999px;
  background: #fc0;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
}
